<div class="d-flex justify-content-center align-items-center" style="height: 100vh ; background-image: url('/assets/background.svg') ; background-size: cover; ">
    <div class="border rounded bg-light p-4 w-25">
        <div class="d-flex justify-content-center align-items-center">
            <img src="https://static.vecteezy.com/system/resources/previews/019/879/186/non_2x/user-icon-on-transparent-background-free-png.png" alt="logo" style="height: 8rem;" />
        </div>
        <h2 class="text-center mb-5">Create an account</h2>
        <div id="liveAlertPlaceholder"></div>

        <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()"
            >
            <div class="input-group has-validation mb-4">
                <span class="input-group-text">
                    <i class="bi bi-person-fill fs-3"></i>
                </span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="username" placeholder="Username" required
                    formControlName="username" />
                    <label for="username">Username</label>
                </div>
                <div class="invalid-feedback">
                    Please enter your username.
                </div>
            </div>
            <div class="input-group has-validation mb-4">
                <span class="input-group-text">
                    <i class="bi bi-lock-fill fs-3"></i>
                </span>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" placeholder="Password" required
                    formControlName="password" />
                    <label for="username">Password</label>
                </div>
                <div class="invalid-feedback">
                    Please enter correct password.
                </div>
            </div>
            <div class="input-group has-validation mb-4">
                <span class="input-group-text">
                    <i class="bi bi-envelope-fill fs-3"></i>
                </span>
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" placeholder="Email" required
                    formControlName="email" />
                    <label for="email">Email</label>
                </div>
                <div class="invalid-feedback">
                    Please enter valid & different email.
                </div>
            </div>
            <div class="mt-4 mb-4">
                <button type="submit" class="btn btn-primary btn-lg w-100">
                    Sign Up
                </button>
            </div>
            <p class="text-center">
                Already have an account ?
                <a class="text-decoration-none" [routerLink]="['/login']" routerLinkActive="router-link-active">
                Login here
                </a>
            </p>
        </form>
    </div>
</div>