<div class="d-flex justify-content-center align-items-center"
    style="height: 100vh ; background-image: url('/assets/background.svg') ; background-size: cover">
    <div class=" border rounded bg-light p-4 w-25">
        <div class="d-flex justify-content-center align-items-center">
            <img src="https://static.vecteezy.com/system/resources/previews/019/879/186/non_2x/user-icon-on-transparent-background-free-png.png" alt="logo" style="height: 8rem" />
        </div>
        <h1 class="text-center">Login</h1>
        <h4 class="text-center mt-4 mb-4">
            Enter your credentials
        </h4>
        <div id="liveAlertPlaceholder"></div>
        <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="input-group has-validation mb-4">
                <span class="input-group-text">
                    <i class="bi bi-person-fill fs-3"></i>
                </span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="username" placeholder="Username" required
                        formControlName="username" />
                    <label htmlFor="username">Username</label>
                </div>
                <div class="invalid-feedback">
                    Please enter correct username or password.
                </div>
            </div>
            <div class="input-group has-validation mb-4">
                <span class="input-group-text">
                    <i class="bi bi-lock-fill fs-3"></i>
                </span>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" placeholder="Password" required
                        formControlName="password" />
                    <label htmlFor="username">Password</label>
                </div>
                <div class="invalid-feedback">
                    Please enter correct username or password.
                </div>
            </div>
            <div class="form-check mb-4 ms-2">
                <label class="form-check-label" htmlFor="remember">
                    Remember me
                </label>
                <input class="form-check-input" type="checkbox" value="" id="remember" checked
                    formControlName="rememberMe" />
            </div>
            <div class="mt-4 mb-4">
                <button type="submit" class="btn btn-primary btn-lg w-100" id="submit">
                    Login
                </button>
            </div>
            <p class="text-center">
                Don't have an account ?
                <a class="text-decoration-none" [routerLink]="['/signup']" routerLinkActive="router-link-active">
                    Sign Up here
                </a>
            </p>
        </form>
    </div>
</div>